*{margin: 0;
padding: 0;}


/*index*/

body{font-family: 'Yellowtail', cursive;}

.allpage{background-color:rgb(31, 97, 141);
margin-top:40px;
margin-bottom:40px;}

.container{}

.container h1 span{color:rgb(234, 32, 78 );}

.container h2 span{color:rgb(234, 32, 78 );}

.container h4 i{margin-left:30px;
color:yellow;}

i:hover{transform:rotate(20deg);}

.container h4 span{color:rgb(234, 32, 164);
padding:0 30px;}

.container a{float:left;
margin-left:690px;}

.container a{transition:2s;}

a:hover{transform:scale(2);}





